.slider__image {
    height: 450px;
    object-fit: cover;
}

.slider__nav {
    display: flex;
    justify-content: center;
    background-color: black;
}

.slider__nav--items {
    list-style: none;
    text-transform: uppercase;
}

.slider__nav--link {
    display: inline-block;
    padding: 15px;
    color: white;
    font-weight: 600;
}

.slider__nav--link:hover {
    background-color: rgb(1, 128, 1, 0.9);
}

.container--gray {
    background-color: rgb(221, 221, 221, 0.4 );
}